ol h5 {
    background-color: white;
    padding: 13px;
    border-radius: 20px;

}
span{
    color: red;
    font-size: 16px; 

}
li img{
    border-radius: 20px;
}
b{
    color: purple;
}
.result{
    box-shadow:5px 5px 18px gray;
letter-spacing: 2px;
background: pink;
border-radius: 20px;
margin-top: 30px;
padding: 20px;
border: 2px solid grey;
}
.test_image_and_result{
    box-shadow:5px 5px 18px rgb(61, 60, 60);
    background: rgb(128, 125, 125);
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid rgb(134, 110, 28);
}